.container {
    width: 100%;
    margin: auto;
    display: flex;
}

.measure {
    width: 50rem;
}

.measure-list {
    width: 20rem;
    background-color: pink;
}

.measure-name {
    width: 100%;
}

.measure-desc {
    width: 100%;
    height: 3rem;
}

.list-container {
    transformStyle: preserve-3d;
    margin: 0rem;
    padding: 0;
}

.list-item {
    list-style-type: none;
    margin: 8px 0px 8px 16px;
    height: 2rem;
    backgroundColor: white;
    border: 1px solid rgba(0,0,0,.27);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    justify-content: space-between;
    display: flex;
}

.expanded.list-item  {
    height: 8rem;
}

button {
    height: 1.25rem;
    margin: 5px;
}

.drag-btn {
    height: 100%;
    width: 1rem;
    background-color: grey;
    cursor: move;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}