$color-primary-0: #3C3C3C;
$color-primary-1: #000000;
$color-primary-2: #131313;
$color-primary-3: #5D5E5F;
$color-primary-4: #83878D;

$rgba-primary-0: rgba( 60, 60, 60,1);
$rgba-primary-1: rgba(  0,  0,  0,1);
$rgba-primary-2: rgba( 19, 19, 19,1);
$rgba-primary-3: rgba( 93, 94, 95,1);
$rgba-primary-4: rgba(131,135,141,1);